:root {
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(235, 212, 212);
}

.wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav__list {
  display: flex;
  gap: 30px;
}

.nav_link--action {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #3c3c3c;
  transition: 4s;
}
.nav_link--action:hover {
  color: #18b5dc;
  transition: 0.4s;
}

/* .form__btn--action {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #3c3c3c;
  text-align: center;
} */

.checkbox:not(:checked) ~ .modal {
  display: none;
}

.glass__modal {
  position: absolute;
  width: 33.333%;
  height: 40%;
  background: #0003;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form__phone,
.form__email {
  height: 50px;
  width: 60%;
}

.btn {
  border: 1px solid #3c3c3c;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #3c3c3c;
  background: #ffffff;
  width: 130px;
  height: 42px;
}

.glass__lable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
}

.title,
.text {
  margin: 0 auto;
}

.about__title::after {
  content: '';
  display: flex;
  margin: 0 auto;
  width: 40px;
  border-bottom: 4px solid #dddbdb;
}

.cards {
  display: flex;
  justify-content: space-between;
}
